{% extends 'base.html' %}
{% block title %}History{% endblock title %}
{% load static %}


{% block main-content %}

<div class="m-5">
    <div style="background-color: rgb(21, 210, 112);">
        <div class="card text-center m-2">
            <div class="card-header">
              Khulna
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
    </div>
    
    <div style="background-color: rgb(21, 210, 112);">
        <div class="card text-center m-2">
            <div class="card-header">
              sylhet
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
    </div>
</div>

  

{% endblock main-content %}